.circle {
  background: #ffffff;
  box-shadow: 0px 4px 25px 16px rgba(0, 0, 0, 0.06);
  text-align: center;
  width: 12%;
  padding: 1.2rem;
  margin: auto;
  border-radius: 200px;
}

.profile {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 1.5rem 0;
  place-items: center;
}

@media (max-width: 600px) {
  .specialP {
    font-size: 0.8rem;
  }
  .circle {
    display: none;
  }
}
