.card {
  background: #ffffff;
  box-shadow: 0px 48.5088px 39.269px rgba(82, 67, 194, 0.295755);
  border-radius: 30.0293px;
  padding: 1rem;
  height: 33rem;
  position: relative;
  width: 85%;
  margin: auto;
}

.buttonRounded {
  display: inline-block;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 7px 35px;
  background-color: #f53838;
  color: #fff !important;
  border-radius: 50px;
  font-weight: 600;
  position: absolute;
  bottom: 1rem;
}

.li {
  list-style: none;
  list-style-image: url('../../public/images/tick.png') !important;
  margin: 1.5rem 1rem;
}

@media (max-width: 600px) {
  .card {
    width: 100%;
    margin: 1rem auto;
  }
}
