@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap');

html {
  --prim-clr: #f53838;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Manrope', sans-serif !important;
}

a {
  color: black !important;
  text-decoration: none !important;
}

* {
  box-sizing: border-box;
}

iframe {
  width: 100%;
}

/* BUTTONS! */
.button-outline {
  display: inline-block;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 7px 35px;
  border: 1px solid #f53855;
  color: #f53855;
  border-radius: 84.7917px;
  font-weight: 600;
}
.button-rounded {
  display: inline-block;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 5px 50px;
  background-color: #f53838;
  color: #fff;
  border-radius: 50px;
  font-weight: 600;
}

.button {
  display: inline-block;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 7px 35px;
  border: 1px solid #f53838;
  color: #fff;
  background-color: #f53838;
  border-radius: 10;
  font-weight: 600;
}

/* CAROUSEL! */
.control-dots {
  bottom: 0rem !important;
}

.dot {
  background-color: var(--prim-clr) !important;
  width: 20px !important;
  height: 20px !important;
}

.color {
  color: var(--prim-clr);
}

/* SWIPER! */
.swiper-button-prev,
.swiper-rtl {
  left: 1119px !important;
  right: auto !important;
  width: 35px !important;
  height: 35px !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* background-image: url('../public/images/arrow-left.png') ; */
  background-image: url('https://res.cloudinary.com/da7rahr7h/image/upload/v1646421534/arrow_left_2aa55db7d2.png');
}

.swiper-button-next,
.swiper-rtl {
  right: 76px !important;
  left: auto;
  width: 35px !important;
  height: 35px !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* background-image: url('../public/images/arrow-right.png'); */
  background-image: url('https://res.cloudinary.com/da7rahr7h/image/upload/v1646421517/arrow_right_7c2c162bcb.png');
}

.swiper-button-next:after,
.swiper-rtl {
  display: none !important;
}

.swiper-button-prev:after {
  display: none !important;
}

.swiper-wrapper {
  padding: 5rem 0 !important;
}

.swiper-button-next,
.swiper-button-prev {
  top: 90% !important;
}

.account-container {
  background: #ffffff;
  box-shadow: 0px 4px 25px 16px rgba(0, 0, 0, 0.06);
  border-radius: 24px;
  padding: 1rem;
  margin: 1rem 0;
}

/* ORDER TRACKING! */

.root::-webkit-scrollbar {
  width: 7px;
}

.root::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.root::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 30px;
}

.check-icon {
  position: relative;
  left: 0.4rem;
  top: 0.35rem;
  color: #fff;
  font-size: 1.3rem;
}

.root {
  padding: 3rem 1.5rem;
  border-radius: 8px;
  box-shadow: 0px 4px 16px 20px rgba(0, 0, 0, 0.06);
  height: 35rem;
  overflow-y: scroll;
}

.order-track {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
}
.order-track-step {
  display: flex;
  height: 7rem;
}
.order-track-step:last-child {
  overflow: hidden;
  height: 4rem;
}
.order-track-step:last-child .order-track-status span:last-of-type {
  display: none;
}
.order-track-status {
  margin-right: 1.5rem;
  position: relative;
}
.order-track-status-dot {
  display: block;
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  background: var(--prim-clr);
}

.dot-faded {
  background-color: #f1a1a5;
}

.order-track-status-line {
  display: block;
  margin: 0 auto;
  width: 2px;
  height: 7rem;
  background: #f05a00;
}
.order-track-text-stat {
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 3px;
}
.order-track-text-sub {
  font-size: 1rem;
  font-weight: 300;
}
.order-track {
  transition: all 0.3s height 0.3s;
  transform-origin: top center;
}

/* SHOW PASSWORD ICOM! */

.my-pos {
  position: relative !important;
  left: 25rem !important;
  bottom: 2rem !important;
  cursor: pointer;
}

/* BOLDNESS! */
.my-bold {
  font-weight: normal;
}

/* PLACEHOLDER COLOR CHANGE! */

.ph-color::placeholder {
  color: gray !important;
}

@media (max-width: 600px) {
  .nav-links {
    height: 0;
    overflow: hidden;
    transition: 0.3s ease-in-out all;
  }

  .show-links {
    height: 18rem;
  }

  .button-outline {
    text-align: center;
  }

  .dot {
    width: 10px !important;
    height: 10px !important;
  }

  /* SWIPER! */
  .swiper-button-prev,
  .swiper-rtl {
    left: 150px !important;
  }
  .swiper-button-next,
  .swiper-rtl {
    left: 200px !important;
  }

  .my-pos {
    position: initial !important;
    left: 15rem !important;
    bottom: 2rem !important;
    cursor: pointer;
  }
  .my-bold {
    font-weight: bold;
  }
}
